<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sujal's Gaming</title>
    <link rel="stylesheet" href="allGames.css" />
  </head>
  <body>
    <h1>Game-BaR</h1>
    <div class="form-container">
      <div class="div">
        <form action="/games/simonsays.com" method="get">
          <div class="Simon_Says gameBox"></div>
          <h2 class="saysTitle">Simon Says</h2>
          <button class="simonbtn">Play</button>
        </form>
      </div>

      <div class="div">
        <form action="/games/tictactoe.com" method="get">
          <div class="Tictac gameBox"></div>
          <h2 class="tictacTitle">Tic-Tac-Toe</h2>
          <button class="tictacbtn">Play</button>
        </form>
      </div>
    </div>
  </body>
</html>
