<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game</title>
    <link rel="stylesheet" href="/simon.css" />
  </head>
  <body>
    <div>
      <h1>Simon Says</h1>
      <h3>Press any key to start the game</h3>
    </div>

    <div class="btn-container">
      <div class="line-one">
        <div class="btn red" type="button" id="red"></div>
        <div class="btn yellow" type="button" id="yellow"></div>
        <!-- type button is setted to inherit the behaviour of noram button such as click -->
      </div>
      <div class="line-two">
        <div class="btn Green" type="button" id="Green"></div>
        <div class="btn purple" type="button" id="purple"></div>
      </div>
    </div>
    <a href="http://localhost:3000/games">Go To Game-Bar</a>
    <script src="/simon.js"></script>
  </body>
</html>
