* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-image: linear-gradient(45deg, #4833c3, transparent);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 100vmin;
  font-family: "Arial", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  font-weight: bolder;
  background: linear-gradient(45deg, #9c3131, #964848);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  position: relative;
  animation: fadeInScale 1.5s ease-in-out, pulse 3s infinite ease-in-out;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 0.8;
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    text-shadow: 0 0 10px rgba(255, 126, 95, 0.5);
  }
  50% {
    transform: scale(1.05);
    text-shadow: 0 0 20px rgba(255, 126, 95, 0.8);
  }
  100% {
    transform: scale(1);
    text-shadow: 0 0 10px rgba(255, 126, 95, 0.5);
  }
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  color: #eae1e1;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin: 10px 0;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn {
  height: 30vmin;
  width: 30vmin;
  border-radius: 2vmin;
  margin: 1vmin;
  transition: transform 0.2s ease;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.03);
}

.btn-container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.red {
  background-color: #d95980;
}

.yellow {
  background-color: #ffc371;
}

.Green {
  background-color: #77f5c0;
}

.purple {
  background-color: #607dd3;
}

.flash {
  background-color: azure;
}

.userflash {
  background-color: rgb(81, 141, 118);
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-family: "Georgia", serif;
  background: linear-gradient(45deg, #3a1c71, #d76d77);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

a:hover {
  background: linear-gradient(45deg, #2e2e77, #6a11cb);
  transform: translateY(-3px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.1rem;
    margin-bottom: 5px;
  }

  a {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 0.9rem;
  }

  a {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }
}
